<%= turbo_stream_from current_user, :transactions %>
<%= turbo_stream_from current_user, :cashflow_summary %>

<div class="p-4 flex flex-col gap-4">
  <div>
    <%= render "transactions/cashflow_summary", user: current_user %>
  </div>

  <div>
    <%= render "transactions/form", new_transaction: @new_transaction %>
  </div>

  <div id="transactions_list" class="flex flex-col gap-2">
    <%= render @transactions %>
  </div>

  <% if @total_count > 10 %>
    <div class="flex justify-center">
      <%= link_to "View All Transactions (#{@total_count} total)", transactions_path, class: "btn btn-outline btn-sm" %>
    </div>
  <% end %>
</div>

